@import "../../scss/theme.scss";
.main {
    h1 {
        color: $text-primary;
        font-size: 2rem;
        margin-bottom: 0;
    }
    .content {
        color: $text-secondary;
        line-height: 3;
        font-size: 1.2rem;
        border-radius: 10px;
    }
}
