.main {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        border: 7px solid var(--bg-primary);
    }
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .main {
        height: calc(100vh - 5rem);
    }
}

@media only screen and (min-width: 600px) {
    .main {
        height: 100vh;
    }
}
