<div class="main">
    <div class="top-banner">
        <img src="assets/avatar.jpg" alt="">
    </div>
    <h1 class="name">
        <span class="firstName">{{ (profile$ | async)?.firstName }}</span>
        <span class="lastName">{{ (profile$ | async)?.lastName }}</span>
    </h1>
    <div class="about-me">
        Experienced Engineer with a demonstrated history of working in the computer software industry. Skilled in
        JavaScript, HTML, C#, Firebase, Unit Testing, C++, Agile Methodologies, and jQuery. Strong engineering
        professional with a Master’s Degree focused in Computer Software Engineering from Penn State University.
    </div>
    <div class="credentials">
        <div class="experience">
            <app-skills [skills]="skills$ | async" type="ToolsAndTechnology" title="Tools and Technologies">
            </app-skills>
        </div>
        <div class="skills-technical">
            <app-skills [skills]="skills$ | async" type="ToolsAndTechnology" title="Tools and Technologies">
            </app-skills>
        </div>
        <div class="skills-industry">
            <app-skills [skills]="skills$ | async" type="IndustryKnowledge" title="Industry Knowledge">
            </app-skills>
        </div>
    </div>
    <app-qualifications [qualifications]="qualifications$ | async"></app-qualifications>


</div>