$lightRatio: 0.03;
$darkRatio: 0.03;

@function percentage($value) {
  $result: $value * 100;
  @return $result;
}

$base-text: #b6b6b6;
$text-100: lighten($base-text, percentage($lightRatio * 8));
$text-200: lighten($base-text, percentage($lightRatio));
$text-300: $base-text;
$text-400: darken($base-text, percentage($darkRatio));
$text-500: darken($base-text, percentage($darkRatio * 2));

// Purple
$base-purple: #23232e;
$primary-purple-100: lighten($base-purple, percentage($lightRatio * 2));
$primary-purple-200: lighten($base-purple, percentage($lightRatio));
$primary-purple-300: $base-purple;
$primary-purple-400: darken($base-purple, percentage($darkRatio));
$primary-purple-500: darken($base-purple, percentage($darkRatio * 2));
$secondary-purple: #141418;

// Blue
$base-blue: #192642;
$primary-blue-100: lighten($base-blue, percentage($lightRatio * 2));
$primary-blue-200: lighten($base-blue, percentage($lightRatio));
$primary-blue-300: $base-blue;
$primary-blue-400: darken($base-blue, percentage($darkRatio));
$primary-blue-500: darken($base-blue, percentage($darkRatio * 2));
$secondary-blue: #141418;

.purple {
  --text-100: #{$text-100};
  --text-200: #{$text-200};
  --text-300: #{$text-300};
  --text-400: #{$text-400};
  --text-500: #{$text-500};
  --primary-100: #{$primary-purple-100};
  --primary-200: #{$primary-purple-200};
  --primary-300: #{$primary-purple-300};
  --primary-400: #{$primary-purple-400};
  --primary-500: #{$primary-purple-500};
  --secondary: #{$secondary-purple};
}

.blue {
  --text-100: #{$text-100};
  --text-200: #{$text-200};
  --text-300: #{$text-300};
  --text-400: #{$text-400};
  --text-500: #{$text-500};
  --primary-100: #{$primary-blue-100};
  --primary-200: #{$primary-blue-200};
  --primary-300: #{$primary-blue-300};
  --primary-400: #{$primary-blue-400};
  --primary-500: #{$primary-blue-500};
  --secondary: #{$secondary-blue};
}
