@import "./scss/theme.scss";
main {
    position: relative;
    .theme-picker {
        ul {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            position: absolute;
            padding: 0;
            z-index: 2;
            li {
                margin: 0 16px;
                span {
                    border: 1px solid #fff;
                    border-radius: 5px;
                    width: 20px;
                    height: 20px;
                    flex-grow: 1;
                    display: block;
                    cursor: pointer;
                    &.purple {
                        background-color: $bg-primary-purple;
                    }
                    &.red {
                        background-color: $bg-primary-red;
                    }
                    &.blue {
                        background-color: $bg-primary-blue;
                    }
                    &.green {
                        background-color: $bg-primary-green;
                    }
                    &.yellow {
                        background-color: $bg-primary-yellow;
                    }
                }
            }
        }
    }
}
