<nav class="navbar">
    <ul class="navbar-nav">
        <li class="logo">
            <a href="#" class="nav-link">
                <span class="link-text logo-text">{{ name }}</span>
                <i class="icofont-arrow-right"></i>
            </a>
        </li>

        <ng-container *ngFor="let item of navItems">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="{{ item.icon }}"></i>
                    <span class="link-text">{{ item.title }}</span>
                </a>
            </li>
        </ng-container>
    </ul>
</nav>