@import "../../scss/theme.scss";
.qualification {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    transition: background 200ms ease-in;
    &:hover {
        background: var(--bg-primary-dark);
    }
}

img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
div {
    font-size: 1rem;
    color: $text-secondary;
}
