<div class="container-fluid no-gutters">
    <h1>Tools and Technologies</h1>
    <div class="row no-gutters">
        <div class="col-6 col-lg-2 col-xl-1" *ngFor="let skill of toolsAndTechnology">
            <app-skill [skill]="skill"></app-skill>
        </div>
    </div>

    <h1>Industry Knowledge</h1>
    <div class="row no-gutters">
        <div class="col-6 col-lg-2 col-xl-1" *ngFor="let skill of industryKnowledge">
            <app-skill [skill]="skill"></app-skill>
        </div>
    </div>
</div>