@import "app/scss/theme.scss";
:root {
  --font-family: "Ropa Sans";
  --transition-speed: 600ms;
}

body {
  font-family: var(--font-family);
  color: black;
  background-color: var(--bg-primary-light);
  margin: 0;
  padding: 0;
  transition: background-color 200ms linear;
  height: 100vh;
  main {
    margin-left: 5rem;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

// /* Small screens */
// @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
//   body {
//     height: calc(100vh - 5rem);
//   }
//   main {
//     margin-left: 0;
//   }
// }

// /* Large screens */
// @media only screen and (min-width: 600px) {
//   body {
//     height: 100vh;
//   }
//   main {
//     margin-left: 5rem;
//   }
// }
