@import "app/scss/theme.scss";
:root {
  font-size: 16px;
  font-family: "Ropa Sans";
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: var(--bg-primary-light);
  margin: 0;
  padding: 0;
  transition: background-color 200ms linear;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  body {
    height: calc(100vh - 5rem);
  }
  main {
    margin-left: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  body {
    height: 100vh;
  }
  main {
    margin-left: 5rem;
  }
}
